.container {
    width: calc(100vw);
    height: calc(100vh);    
}

.pyramid {
    width: calc(100vw);
    height: calc(90vh);
    margin: auto;
    position: relative;
    perspective: 310px;
    perspective-origin: 54% 38%;
}

.side {
    position: absolute;
    top: calc(30vh) ;
    left: calc(45vw);
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #d8d8d8;
    transform-origin: 50% 0%;
    animation: spin 10s infinite linear;
    /* transform: translate(-50%, -50%); */
}

.back {
    animation-delay: -5s; 
    /* -($speed/2) + s; */
}
.right {
    animation-delay: -2.5s;
    /* -($speed/4) + s; */
}
.left {
    animation-delay: -7.5s;
    /* -($speed * 0.75) + s; */
}

@keyframes spin {
    0% {
        transform: rotateY(0deg) rotateX(30deg);
        border-bottom-color: #e9e9e9;
        opacity: 0.5;
   }
    25% {
        transform: rotateY(90deg) rotateX(30deg);
        border-bottom-color: #d2d2d2;        
        opacity: 0.3;
   }
    25.1% {
        opacity: 0.3;
   }
    50% {
        transform: rotateY(180deg) rotateX(30deg);
        border-bottom-color: #bababa;
        opacity: 0.3;
   }
    74.9% {
        opacity: 0.3;
   }
    75% {
        transform: rotateY(270deg) rotateX(30deg);
        border-bottom-color: #a3a3a3;
        opacity: 0.4;
   }
    100% {
        transform: rotateY(360deg) rotateX(30deg);
        border-bottom-color: #e9e9e9;
        opacity: 0.5;
   }
}

.Logo {
    position: absolute;
    top: calc(30vh);
    left: calc(48vw);
    display: flex;
    flex-direction: row;
    color: #D6BD68;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: center;    
    text-shadow: 0 2.5px 2.5px rgba(166, 124, 0, 0.55);
    animation: logoMotion 8s infinite linear;
    z-index: 5;
    font-size: 2.25rem;
}
@keyframes logoMotion {
    0% {
        transform: rotateY(0deg) rotateX(5deg) rotateZ(0deg);
   }
   25% {
        transform: rotateY(90deg) rotateX(5deg) rotateZ(0deg);
    }
    50% {
        transform: rotateY(180deg) rotateX(5deg) rotateZ(0deg);
    }
    75% {
        transform: rotateY(270deg) rotateX(5deg) rotateZ(0deg);
    }
    100% {
        transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
   }
}

.shadow {
    position: absolute;
    top: calc(30vh);
    left: calc(47vw);
    width: 40px;
    height: 40px;
    background-color: rgba(46, 46, 46, 0.66);
    box-shadow: 0 0 40px 40px rgba(36, 36, 36, 0.68);
    animation: shadow 10s infinite linear;
}
@keyframes shadow {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
   }
    100% {
        transform: rotateX(90deg) rotateZ(-360deg);
   }
}


/* @media only screen and (orientation: portrait) and (max-width: 500px) {
    .side {
        left: calc(38vw);
        top: calc(32vh) ;
        border-left: 45px solid transparent;
        border-right: 45px solid transparent;
        border-bottom: 90px solid #d8d8d8;
    }

    .Logo {
        top: calc(48vh);
        left: calc(44vw);
        font-size: 1.5rem;
    }
    
    .shadow {
        top: calc(55vh);
        left: calc(45vw);
        width: 35px;
        height: 35px;
        background-color: rgba(163, 163, 163, 0.54);
        box-shadow: 0 0 30px 30px rgba(117, 117, 117, 0.58);
    }
} */


@media screen and (max-width: 500px), screen and (max-height <= 750px) {
    .side {
        top: calc(32vh);
        left: calc(39vw);
        border-left: 44px solid transparent;
        border-right: 44px solid transparent;
        border-bottom: 87px ridge #E5E5E5;
    }

    .Logo {
        top: calc(44.5vh);
        left: calc(44vw);
        font-size: 1.4rem;
    }
    
    .shadow {
        top: calc(47.5vh);
        left: calc(45vw);
        width: 35px;
        height: 35px;
        background-color: rgba(52, 52, 52, 0.66);
        box-shadow: 0 0 40px 40px rgba(42, 42, 42, 0.60);
    }
}

@media screen and (max-width: 500px), screen and (min-height > 750px) {
    .side {
        top: calc(33.5vh);
        left: calc(39vw);
        border-left: 44px solid transparent;
        border-right: 44px solid transparent;
        border-bottom: 87px ridge #E5E5E5;
    }

    .Logo {
        top: calc(44.5vh);
        left: calc(44vw);
        font-size: 1.4rem;
    }
    
    .shadow {
        top: calc(46.5vh);
        left: calc(45vw);
        width: 35px;
        height: 35px;
        background-color: rgba(52, 52, 52, 0.66);
        box-shadow: 0 0 40px 40px rgba(44, 44, 44, 0.60);
    }
}

/* ***************************************************** */
@media (500px <= width <= 768px) and (height <= 830px) {
    .side {
        top: calc(30vh) ;
        left: calc(40vw);
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 99px ridge #E5E5E5;
    }

    .Logo {
        top: calc(41.8vh);
        left: calc(44vw);
        font-size: 1.5rem;
    }
    
    .shadow {
        top: calc(45vh);
        left: calc(46vw);
        width: 38px;
        height: 38px;
        background-color: rgba(46, 46, 46, 0.55);
        box-shadow: 0 0 50px 50px rgba(42, 42, 42, 0.60);
    }
}

@media (768.1px <= width <= 1100px) and (height <= 830px) {
    .side {
        top: calc(29.8vh);
        left: calc(43vw);
        border-left: 52px solid transparent;
        border-right: 52px solid transparent;
        border-bottom: 103px ridge #E5E5E5;
    }

    .Logo {
        top: calc(43vh);
        left: calc(46vw);
        font-size: 1.6rem;
    }
    
    .shadow {
        top: calc(45vh);
        left: calc(47vw);
        width: 38px;
        height: 38px;
        background-color: rgba(48, 48, 48, 0.55);
        box-shadow: 0 0 50px 50px rgba(42, 42, 42, 0.60);
    }
}


@media (1100.1px <= width <= 1500px)and (height <= 830px) {
    .side {
        top: calc(30vh) ;
        left: calc(45vw);
        border-left: 54px solid transparent;
        border-right: 54px solid transparent;
        border-bottom: 106px ridge #E5E5E5;
    }

    .Logo {
        top: calc(40.5vh);
        left: calc(47.5vw);
        font-size: 1.8rem;
    }
    
    .shadow {
        top: calc(46vh);
        left: calc(47.2vw);
        width: 37px;
        height: 37px;
        background-color: rgba(54, 54, 54, 0.55);
        box-shadow: 0 0 52px 52px rgba(44, 44, 44, 0.60);
    }
}

@media (1500.1px <= width <= 1900px)and (height <= 830px) {
    .side {
        top: calc(30vh);
        left: calc(47vw);
        border-left: 56px solid transparent;
        border-right: 56px solid transparent;
        border-bottom: 110px ridge #E5E5E5;
    }

    .Logo {
        top: calc(39.5vh);
        left: calc(48.3vw);
        font-size: 1.75rem;
    }
    
    .shadow {
        top: calc(47vh);
        left: calc(49vw);
        width: 40px;
        height: 40px;
        background-color: rgba(52, 52, 52, 0.56);
        box-shadow: 0 0 52px 52px rgba(48, 48, 48, 0.60);
    }
}

@media (1900.1px <= width <= 3500px)and (height <= 830px) {
    .side {
        top: calc(30vh) ;
        left: calc(48vw);
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 119px ridge #E5E5E5;
    }

    .Logo {
        top: calc(40vh);
        left: calc(49vw);
        font-size: 2rem;
    }
    
    .shadow {
        top: calc(47.5vh);
        left: calc(49.5vw);
        width: 40px;
        height: 40px;
        background-color: rgba(55, 55, 55, 0.58);
        box-shadow: 0 0 55px 55px rgba(46, 46, 46, 0.62);
    }
}

/* ***************************************************** */

@media (500px <= width <= 768px) and (height >= 830px) {
    .side {
        top: calc(31vh);
        left: calc(40.5vw);
        border-left: 51px solid transparent;
        border-right: 51px solid transparent;
        border-bottom: 101px ridge #E5E5E5;
    }

    .Logo {
        top: calc(42.5vh);
        left: calc(44.5vw);
        font-size: 1.6rem;
    }
    
    .shadow {
        top: calc(45vh);
        left: calc(46.5vw);
        width: 36px;
        height: 36px;
        background-color: rgba(42, 42, 42, 0.54);
        box-shadow: 0 0 55px 55px rgba(34, 34, 34, 0.56);
    }
}

@media (768.1px <= width <= 1100px) and (height >= 830px) {
    .side {
        top: calc(30vh) ;
        left: calc(43vw);
        border-left: 54px solid transparent;
        border-right: 54px solid transparent;
        border-bottom: 108px ridge #E5E5E5;
    }

    .Logo {
        top: calc(41.7vh);
        left: calc(46.8vw);
        font-size: 1.7rem;
    }
    
    .shadow {
        top: calc(44vh);
        left: calc(47.5vw);
        width: 38px;
        height: 38px;
        background-color: rgba(52, 52, 52, 0.58);
        box-shadow: 0 0 55px 55px rgba(40, 40, 40, 0.60);
    }
}


@media (1100.1px <= width <= 1500px) and (height >= 830px) {
    .side {
        top: calc(28.5vh) ;
        left: calc(45vw);
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        border-bottom: 119px ridge #E5E5E5;
    }

    .Logo {
        top: calc(41.7vh);
        left: calc(48vw);
        font-size: 1.8rem;
    }
    
    .shadow {
        top: calc(43.5vh);
        left: calc(48.3vw);
        width: 37px;
        height: 37px;
        background-color: rgba(58, 58, 58, 0.60);
        box-shadow: 0 0 55px 55px rgba(40, 40, 40, 0.60);
    }
}

@media (1500.1px <= width <= 1900px) and (height >= 830px) {
    .side {
        top: calc(29.5vh);
        left: calc(47vw);
        border-left: 64px solid transparent;
        border-right: 64px solid transparent;
        border-bottom: 127px ridge #E5E5E5;
    }

    .Logo {
        top: calc(38vh);
        left: calc(49vw);
        font-size: 2rem;
    }
    
    .shadow {
        top: calc(46vh);
        left: calc(49.4vw);
        width: 40px;
        height: 40px;
        background-color: rgba(60, 60, 60, 0.58);
        box-shadow: 0 0 55px 55px rgba(40, 40, 40, 0.65);
    }
}

@media (1900.1px <= width <= 3500px) and (height >= 830px) {
    .side {
        top: calc(29.5vh) ;
        left: calc(47vw);
        border-left: 66px solid transparent;
        border-right: 66px solid transparent;
        border-bottom: 131px ridge #E5E5E5;
    }

    .Logo {
        top: calc(41vh);
        left: calc(49.2vw);
        font-size: 2rem;
    }
    
    .shadow {
        top: calc(46vh);
        left: calc(49.4vw);
        width: 40px;
        height: 40px;
        background-color: rgba(60, 60, 60, 0.58);
        box-shadow: 0 0 55px 55px rgba(42, 42, 42, 0.60);
    }
}


/* @media only screen and (orientation: landscape) and () */